/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --color-1: #493548;
    --color-2: #4B4E6D;
    --color-3: #6A8D92;
    --color-4: #80B192;
    --color-5: #A1E887;
    --color-6: #e5e5e5;
    --color-7: white;
    --color-border-test: red;
}

/* Border test */
/* * {
    border: 2px solid red;
} */

/* Body */
body {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows:
        auto
        auto
        1fr
        auto;
}

/* Header */
header {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
}

header h1 {
    padding: 5px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
}

/* Sidebar */
aside {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background-color: lightgreen;
    display: grid;
    justify-content: center;
    align-items: start;
    width: 200px;
}

aside section {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.stat-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
}

/* Add Book Section */
#add-book-section {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: end;
    background-color: rgb(255, 200, 99);  
}

#addBookBtn {
    padding: 5px;
    margin: 20px;
}

#addBookDialog form {
    display: flex;
    flex-direction: column;
}

/* Main */
main {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: lightcoral;
}

/* Table */
.table-wrapper {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #e4e4e4;
    color: black;
}

/* Table Components */
caption,
th,
td {
    padding: 1rem;
}

caption,
th {
    text-align: left;
}

th {
    background: hsla(0, 0%, 64%, 0.5);
}

tr:nth-of-type(2n) {
    background: hsl(0 0% 0% / 0.05);
}

.remove-btn {
    background-color: red;
    color: white;
    height: 25px;
    width: 25px;
    border-radius: 5px;
}


/* Footer */
footer {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

footer h1 {
    padding: 5px;
    margin: 10px;
    font-size: 15px;
    font-weight: 100;
}
